@CHARSET "UTF-8";

body {
	font-family: monospace, "Open Sans", arial, x-locale-body, sans-serif;
	background-color: #fff;
}

.algorithms {
	border: 10px solid aquamarine;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	border: 10px solid aquamarine;
	-moz-box-shadow: 0 0 10px #333;
	-webkit-box-shadow: 0 0 10px #333;
	box-shadow: 0 0 10px #333;
}

@media screen and (min-height: 500px) {
	.algorithms {
		margin-bottom: 8em;
	}
}

.algorithms tr:nth-child(4) td {
	padding-bottom: 1em;
}

.algorithms td {
	width: auto;
}

.algorithm td {
	padding-left: 10px;
	padding-right: 10px;
}

.algorithm td:first-child {
	color: #008B8B;
}

.algorithms tr:last-child td:last-child {
	text-align: right;
}

a {
	text-decoration: none;
	color: brown;
}

a:hover, a:active {
	color: salmon !important;
}

a:visited {
	color: #7798ED;
}

.best {
	background-color: #90EE90;
}

.worst {
	background-color: #FF6347;
}

.best a:hover, .worst a:hover {
	color: #fff !important;
}

p {
	text-align: center;
}

.header {
	top: 0px;
	background-color: #F0F8FF;
	display: table;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 5px solid dodgerblue;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 1em;
}

.footer {
	text-align: center;
	left: 0px;
	right: 0px;
	background: -webkit-linear-gradient(#fff, #ccc);
	background: -o-linear-gradient(#fff, #ccc);
	background: -moz-linear-gradient(#fff, #ccc);
	background: linear-gradient(#fff, #ccc);
}

@media screen and (min-height: 500px) {
	.footer {
		position: fixed;
		bottom: 0px;
		margin: 0px;
		padding: 10px;
	}
}

input, select {
	width: auto;
	max-width: 100%;
	cursor: pointer;
}

input#jobs {
	width: 3em;
}

input#jobs, select, input[type="button"] {
	height: 2.7em;
}

.blockUI {
	display: block;
}

.blockUI-frame {
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: .5;
}

.blockUI-caption {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	bottom: 50%;
	right: 0;
	width: 10em;
	height: 1em;
	white-space: nowrap;
	padding: 1em;
	text-align: center;
	z-index: 1001;
	border: 5px solid dodgerblue;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 10px #333;
}

.blockUI-frame, .blockUI-caption {
	cursor: wait;
	position: fixed;
	background-color: #fff;
	left: 0;
}

.unBlockUI, .hidden {
	display: none;
}

#chart_div {
	min-height: 400px;
}

.range-sample table {
	width: 90%;
	margin-left: 5%;
}

.range-sample td:first-child {
	width: 48%;
}

.range-sample td:nth-child(2) {
	width: 0;
	text-align: center;
	vertical-align: top;
}

.range-sample input[type="range"] {
	width: 100%;
	height: 2em;
	margin: 0;
}

.range-caption {
	margin-left: 50%;
	text-align: center;
}

span#minsample, span#maxsample {
	margin-left: .5em;
}